<div class="container">
    <div class="row">
        <div class="col-3">Всего просмотров: </div>
        <div class="col-4">
            <span id="CountViews"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-3">Всего пользователей: </div>
        <div class="col-4">
            <span id="TotalUsers"></span>
        </div>
    </div>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/userCount.js"></script>